<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chuhelan.htg">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/htg_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/htg_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HTG_Android">
        <activity
            android:name=".NotLoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterHowToActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterAvtivity"
            android:exported="true"
            android:label="注册" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/login_page" />
        <activity
            android:name=".NavigationViewHead"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".util.Capture"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true" />
    </application>

</manifest>